<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <servers>
        <server>
			<id>bintray-rtcommunity-maven-rtc-util</id>
			<username>rtcommunity</username>
			<password>3b55b1178dfcaa02ed1460245c043a70c97a8cbb</password>
		</server>
    </servers>
    
</settings>